<div class="row">
  <div class="col">
    <h2>Farm</h2>
    <p>Earns 2- 5 Gold</p>
    <button (click)='gold("farm")'>Farm!</button>
  </div>
  <div class="col">
    <h2>Cave</h2>
    <p>Earns 5-10 Gold</p>
    <button (click)='gold("cave")'>Cave!</button>
  </div>
  <div class="col">
    <h2>Casino</h2>
    <p>Earns up to or lose 100 Gold</p>
    <button (click)='gold("casino")'>Casino!</button>
  </div>
  <div class="col">
    <h2>House</h2>
    <p>Earns 7-15 Gold</p>
    <button (click)='gold("house")'>House!</button>
  </div>
</div>
