<html>
    <body>
        <h1>You've visited this site <%= times %> time(s)</h1>
        <p><a href="2">Increment Counter 2 times</a></p>
        <p><a href="clear">Clear the counter</a></p>
    </body>
</html>