<html>
<body>
    <h1>Meet the Cats</h1>
    <hr>
    <a href="cats/1"><img src="simba.jpg" ></a>
    <a href="cats/2"><img src="oliver.jpg" ></a>
    <a href="cats/3"><img src="socks.jpg" ></a>
</body>
</html>